// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pets {
  border: solid 1px #d0d0d0;
  box-shadow: 1px 1px 1px #d0d0d0;
  margin: 10px;
  padding: 20px;
}

.pets h3 {
  margin: 0;
}